<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'bootstrap-5.2.1-dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'style/style.css'%}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section class="vh-100" style="background-color: #6c0caf;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block" style="background-color:#8152cd ">
                            <img src="{% static 'img/champions_2.jfif' %}"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black" style="background-color: #8152cd" >

                                <form action ="{% url 'autenticion' %}" method="POST" autocomplete="off" class=" logInForm needs-validation" novalidate>{% csrf_token %}

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Champions</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar Sesión</h5>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="form2Example17" class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example17">Email o Usuario</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example27" class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example27">Contraseña</label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button">Iniciar</button>
                                    </div>

                                    <a class="small" href="#!" style="color: black" >Olvidaste la contraseña?</a>
                                    <p class="mb-5 pb-lg-2" style="color: black;">No tienes una cuenta ? <a href="#!"
                                    style="color: black;">Registrate aquí</a></p>
                                    <a href="#!" class="small" style="color: black">Terminos de uso</a>
                                    <a href="#!" class="small" style="color: black">Política de privacidad</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>